@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");

html {
  background: #000;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  min-height: 100%;
}
.section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;

}
#home {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo logo logo"
    "dnh dnh dnh"
    ". . nav-btn";
}

.logo {
  grid-area: logo;
  width: 421.02px;
  height: 297.72px;
  grid-area: logo;
}

.dnh {
  grid-area: dnh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav-btn {
  grid-area: nav-btn;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

.dna {
  font-size: 15px;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  background: #3f59a684;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px 20px;
  margin-bottom: 50px;
  font-size: 30px;
  width: 70%;
  text-align: center;
}
